# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# 二进制资源不做换行转换
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.ogg binary
*.wav binary
*.mp3 binary
*.ttf binary
*.otf binary